
		div{
			font-size: 40px;
		}
		.box1 div:hover{
			background-color: deepskyblue;
		}
		.box1 a:active{
			color: burlywood;
		}
		.box2 div:hover{
			background-color: deepskyblue;
		}
		.box2 a:active{
			color: burlywood;
		}
		.box{
			width: 800px;
			height: 370px;
			background-color: burlywood;
		}
		.box1{
			width: 520px;
			height:350px;
			float: left;
			background-color:lavender;
			margin:10px;
		}
		.box1_1{
			width: 520px;
			height:230px;
			float: left;
			background-color:brown;
			margin-bottom:20px;
			margin-left:0px ;
			
		}
		.box1_1 p{
			padding-top:40px;
			padding-left: 250px;
			
		}
		.box1_1 a{
			display: block;
		}
		.box1_2{
			width: 250px;
			height:100px;
			float: left;
			background-color:green;
			margin-right:20px;
		}
		.box1_2 p{
			padding-left: 120px;
			
		}
		.box1_3{
			width: 250px;
			height:100px;
			float: left;
			background-color:darkgoldenrod;
		}
		.box1_3 p{
			padding-left: 120px;
			
		}
		.box2{
			width: 250px;
			height:350px;
			float: left;
			background-color:lavender;
			margin:10px;
			margin-left:0px ;
		}
		.box2_1{
			width: 250px;
			height:100px;
			float: left;
			background-color:cadetblue;
			margin-bottom: 20px;
		}
		.box2_1 p{
			padding-top:-10px;
			padding-left: 110px;
			
		}
		.box2_2{
			width: 250px;
			height:230px;
			float: left;
			background-color:purple;
		}
		.box2_2 p{
			padding-top:50px;
			padding-left: 110px;
			
		}